.card-note {

    background-color: var(--fundo-detalhes);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    
    width: 240px;
    height: 400px;
    margin: 10px;
    padding: 10px;
    border-radius: 4px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card-note:hover {
    background-color: var(--secundaria-ativa);
}

.card-note-head {
    font-size: 1.5em;
    font-style: bold;
}

.card-note-body{
    flex-grow: 1;
    font-size: 1em;
    margin: 10px 0 10px 0;
}

.card-note-body .card-note-text{
    text-align: justify;
}

.card-note-botton {
    display: flex;
    flex-direction: column;
}

.card-note-botton .card-note-actions {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid var(--secundaria-ativa);
    margin-top: 10px;
}

.card-note-botton .card-note-actions button {
    background: none;
    cursor: pointer;
    
    border: none;
    margin-top: 10px;
}

.card-note-botton .card-note-actions button i:hover {
    color: red;
}

.card-note-botton .card-note-actions button i:active {
    color: yellow;
}