.title-menu {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--fundo-detalhes);
    border-bottom: 1px solid black;
}

.search-input i {
    vertical-align: middle;
}



